.app {
  /* max-width: 768px; */
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-image: url(/public/media/grad-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* @media (min-width: 769px) {
  .app {
    max-width: 1200px;
  }
}

@media (min-width: 1024px) {
  .app {
    max-width: 1400px;
  }
} */
